<?xml version="1.0" encoding="UTF-8"?>
<manifest>
  <!-- https://gerrit.googlesource.com/git-repo/+/main/docs/manifest-format.md -->
  <remote  name="origin"
           fetch="ssh://git@gitlab.archlinux.org/archlinux/packaging/packages/" />
  <default revision="main"
           remote="origin"
           sync-j="1" />
{% for project in projects %}
  <project path="{{ project }}" name="{{ project }}.git" />
{%- endfor %}
</manifest>

